apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: adminms
  name: adminms
spec:
  replicas: 1
  selector:
    matchLabels:
      app: adminms
  template:
    metadata:
      labels:
        app: adminms
    spec:
      containers:
      - image: wi-reviewz/ms-adminms:0.0.11-SNAPSHOT
        imagePullPolicy: IfNotPresent
        name: ms-adminms
        ports:
          - containerPort: 8082
---
apiVersion: v1
kind: Service
metadata:
  name: adminms
spec:
  ports:
  - port: 8082
    targetPort: 8082
  selector:
    app: adminms
