apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: userms
  name: userms
spec:
  replicas: 1
  selector:
    matchLabels:
      app: userms
  template:
    metadata:
      labels:
        app: userms
    spec:
      containers:
      - image: wi-reviewz/ms-userms:0.0.11-SNAPSHOT
        imagePullPolicy: IfNotPresent
        name: ms-userms
        ports:
          - containerPort: 8081
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: userms
  namespace: default
spec:
  ports:
  - port: 8083
    protocol: TCP
    targetPort: 8083
  selector:
    app: userms
